
body{
    font-family: 'MontserratNormal', sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: calc(18/14);
    letter-spacing: -0.02em;
    color: var(--primary-dark-color);
    background-color: var(--primary-background-light-color);
}

.title{
    font-weight: 600;
    font-size: 20px;
    line-height: calc(24/20);
    letter-spacing: -0.03em;
    text-transform: uppercase;
    text-align: center;
}

.title-exception {
  color: var(--orange-background);
}
.main-btn {
  display: block;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-right: 28px;
  padding-left: 28px;

  border-radius: 100px;
  background-color: var(--orange-background);

  border: none;

  font-weight: 600;
  line-height: calc(17 / 14);
  color: var(--primary-text-light-color);
  transition: var(--transition);
}

.modal-btn{
    background-color: var(--orange-background);
    color: var(--primary-text-light-color);
}



.main-btn:hover,
.main-btn:focus {
  color: var(--orange-background);

  background-color: var(--pressed-state-orange);
}
.section {
  padding-bottom: 72px;
}
@media screen and (min-width: 768px) {
  .title {
    font-size: 24px;
    line-height: calc(28 / 24);
  }
  .main-btn {
    padding-top: 14px;
    padding-bottom: 14px;
    padding-right: 40px;
    padding-left: 40px;

    line-height: calc(22 / 18);
  }
  .section {
    padding-bottom: 100px;
  }
}
@media screen and (min-width: 1200px) {
  .section {
    padding-bottom: 128px;
  }
}
