.advantages{
    background-color: var(--secondary-dark-color); 
    padding-left: 0;
    padding-right: 0;
}
.advantages-container {
    padding-left: 20px;
    padding-right: 47px;
    padding-top: 20px;
    padding-bottom: 36px;
    margin: 0 auto;
}
.advantages-list {
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.advantages-item {
    /* max-width: 308px;
    height: auto; */
}
.advantages-icon-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 62px;
    height: 62px;
    border-radius: 50%;
    border: 1px solid rgba(255, 255, 255, 0.5);
    margin-bottom: 22px;
}
.advantages-icon {
   fill: #FD9222;
}
.advantages-subtitle {
    font-weight: 600;
    font-size: 18px;
    line-height: calc(22/18);
    color: #FFFFFF; 
    margin-bottom: 18px;
}
.advantages-text {
    font-weight: 400;
    font-size: 14px;
    line-height: calc(17/14);
    letter-spacing: -0.02em;
    color: rgba(255, 255, 255, 0.7);
}
@media screen and (min-width: 375px) {
    .advantages-container {
       padding-top: 20px;
       padding-right: 47px;
       padding-bottom: 36px;
       padding-left: 20px;
    }
}

@media screen and (min-width: 768px) {
    .advantages-container {
        padding-top: 50px;
        padding-right: 60px;
        padding-bottom: 85px;
        padding-left: 32px;
    }
    .advantages-list  {
        flex-direction: row;
        flex-wrap: wrap;
        gap: 60px;
    } 
    .advantages-item {
        width: calc((100% - 60px) / 2);
        /* width: calc((100% - 32px) / 2); */
    } 
}
@media screen and (min-width: 1200px) {
    .advantages-container {
        padding-top: 50px;
        padding-bottom: 50px;
        padding-left: 50px;
        padding-right: 50px;
    }
    .advantages-list {
        flex-wrap: nowrap;
        justify-content: space-between;
        gap: 88px;
    }
    .advantages-item {
        position: relative;
    }
    .advantages-item:not(:last-child)::after {
        position: absolute;
        display: block;
        right: -18px;
        bottom: 40px;
        content: '';
        height: 124px;
        border: 1px solid rgba(255, 255, 255, 0.5);
    }
    .advantages-subtitle {
        margin-bottom: 18px;
    }
}