.header {
  padding: 20px 0;
}
.header a {
  outline: none;
}
.header-container-mobile {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  margin-left: auto;
  margin-right: auto;
}

@media (min-width: 1199px) {
  .header-container-mobile {
      display: none;
  }
}

@media (min-width: 1200px) {
  .header-container {
      display: flex;
      align-items: center;
  }
}
.header {
  padding-bottom: calc(19px + (31 - 19) * ((100vw - 768px) / (1199 - 768)));
  padding-top: calc(25px + (31 - 25) * ((100vw - 768px) / (1199 - 768)));
  padding-left: calc(20px + (32 - 20) * ((100vw - 768px) / (1199 - 768)));;
  padding-right: calc(20px + (32 - 20) * ((100vw - 768px) / (1199 - 768)));;
}
.page-nav, 
.header-social,
.menu-nav {
  display: flex;
  align-items: center; 
}
@media (max-width: 1199px) {
  .header-container {
      display: none;
  }
}
.menu-nav {
  gap: 24px;
}
@media (min-width: 768px) and (max-width: 1199px){
  .menu-logo {
      margin-right: calc(24px + (190 - 24) * ((100vw - 768px) / (1199 - 768)));
      }
}
@media (min-width: 1200px) {
  .header-social {
      margin-left: auto;
  }
  .menu-logo {
      margin-right: 190px;
  }
}
.header-social-li-inst {
  margin-right: 21px;
}
.menu-logo {
  display: flex;
  align-items: center;
}
.header-logo-icon {
  text-align: center;
  stroke:var(--orange-background);
  fill: transparent;
}
.header-social-icon {
  stroke: var(--primary-dark-color);
  fill: transparent;
}
.change:hover svg use,
.change:focus svg use,
.header-social-li-inst a:focus svg use,
.header-social-li-inst a:hover svg use {
  stroke: var(--orange-background);
}
/*================================== header ==========================================*/
.header-logo {
  font-style: italic;
  font-weight: 700;
  font-size: calc(14px + (18 - 14) * ((100vw - 768px) / (1199 - 768)));
  line-height: 1.19;
  letter-spacing: -0.03em;
  color: var(--primary-dark-color);
  margin-right: calc(6px + (7 - 6) * ((100vw - 768px) / (1199 - 768)));
}
.logo-choc-header {
  font-style: normal;
}
.header-logo-icon {
  width: calc(18px + (26 - 18) * ((100vw - 768px) / (1199 - 768)));
  height: calc(18px + (26 - 18) * ((100vw - 768px) / (1199 - 768)));
  margin-top: 4px;
}
.nav-head {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  color: var(--primary-dark-color);
  transition: color var(--transition)
}
.nav-head:hover,
.nav-head:focus {
  color:var(--orange-background)
}
.page-nav {
  position: relative;
}
.menu-item {
  position: relative;
}
.menu-line {
  position: relative;
}
.header-burger {
  padding: 0;
  border: none;
  background-color: transparent;
}
.mobile-menu-burger-icon {
  stroke: var(--primary-dark-color);
  width:calc(32px + (35 - 32) * ((100vw - 768px) / (1199 - 768)));
  height:calc(22px + (24 - 22) * ((100vw - 768px) / (1199 - 768)));
}
/*============================= mobil-menu ==========================================*/
.js-menu-container {
  position: relative;
  width: calc(220px + (290 - 220) * ((100vw - 375px) / (768 - 375)));
  height: 100%;
  /* height: calc(812px + (1024 - 812) * ((100vw - 375px) / (768 - 375))); */
  padding-left: calc(21px + (36 - 21) * ((100vw - 375px) / (768 - 375)));
  padding-top: calc(136px + (156 - 136) * ((100vw - 375px) / (768 - 375)));
  padding-right: 36px;
  padding-bottom: 24px;
  z-index: 10;
  overflow-y: scroll;
  background: #1E1823;
}  
.mobil-menu {
  display: block;
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  transform: translateX(100%);
  transition: transform 1s;
}

.menu-mobile {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  color: var(--primary-text-light-color);
}
@media (min-width: 1200px) {
  .mobil-menu {
     display: none;
  }
}
.mobil-menu.is-open {
  transform: translateX(0);
}
.js-close-menu {
  position: absolute;
  top: calc(28px + (33 - 28) * ((100vw - 375px) / (768 - 375)));
  right: calc(28px + (41 - 28) * ((100vw - 375px) / (768 - 375)));
  padding: 0;
  border:1px solid rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 40px;
}

.nav-link {
  font-weight: 500;
  letter-spacing: 0.02em;
  line-height: 1.5;
}

.nav-link:hover,
.nav-link:focus {
  color: var(--orange-background);
}
.js-menu-container {
  position: relative;
  width: calc(220px + (290 - 220) * ((100vw - 375px) / (768 - 375)));
  height: 100%;
  /* height: calc(812px + (1024 - 812) * ((100vw - 375px) / (768 - 375))); */
  padding-left: calc(21px + (36 - 21) * ((100vw - 375px) / (768 - 375)));
  padding-top: calc(136px + (156 - 136) * ((100vw - 375px) / (768 - 375)));
  padding-right: 36px;
  padding-bottom: 24px;
  z-index: 10;
  overflow-y: scroll;
  background: #1E1823;
}  
.mobil-menu {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  transform: translateX(100%);
  transition: transform 1s;
}

.menu-mobile {
  position: relative;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  color: var(--primary-text-light-color);
}
.menu-mobile:focus,
.menu-mobile:hover{
  color: var(--orange-background);
}
.menu-mobile:hover::after,
.menu-mobile:focus::after{
  content: '';
  position: absolute;
  display: block;
  width: 24px;
  height: 1px;
  margin-top:8px;
  
  background-color: var(--orange-background);
}

@media (min-width: 1200px) {
  .mobil-menu {
     display: none;
  }
}
.mobil-menu.is-open {
  transform: translateX(0);
}
.js-close-menu {
  width: 24px;
  height: 24px;
  position: absolute;
  top: calc(28px + (33 - 28) * ((100vw - 375px) / (768 - 375)));
  right: calc(28px + (41 - 28) * ((100vw - 375px) / (768 - 375)));
  padding: 0;
  border:1px solid rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #1E1823;
  transition: background-color var(--transition), fill var(--transition);
}
.mob-but-cloce {
  stroke: var(--primary-text-light-color);
}
.menu-mobile-list-link {
  margin-bottom: 24px;
  margin-left: calc(29px + (51 - 29) * ((100vw - 375px) / (768 - 375)));
}
.menu-icon {
  display: flex;
  bottom: 0;
  right: 0;
}
.menu-mobile-social {
  display: flex;
  gap: 24px;
}
.menu-mobile-social-icon {
  stroke: var(--primary-text-light-color);
  fill: transparent;
}

.mob-but-cloce:hover,
.mob-but-cloce:focus{
  stroke: var(--orange-background);
}
.cross-btn:active{
  width: 40px;
  height: 40px;
  stroke: var(--orange-background);
}


