.how-its-made-caption {
  display: flex;
  justify-content: center;
  padding-bottom: 50px;
  font-size: 24px;
  line-height: calc(28 / 24);
  text-align: center;
  letter-spacing: -0.03em;
}

.how-its-made-container {
  position: relative;
  height: 400px;
  gap: 20px;
  display: flex;
}

@media only screen and (max-width: 767px) {
  .how-its-made-container {
    height: 976px;
    max-height: 1032px;
    flex-direction: column;
  }
}

@media only screen and (min-width: 768px) and (max-width: 1199px) {
  .how-its-made-container {
    height: 100%;
    width: 614px;
    margin: 0 auto;
    flex-direction: column;
  }
}

.how-its-made-iframes {
  max-width: 600px;
  max-height: 400px;
  width: 100%;
  height: 100%;
  border-radius: 15px;
}
@media only screen and (max-width: 767px) {
  .how-its-made-iframes {
    max-width: 600px;
    max-height: 500px;
    width: 100%;
    height: 100%;
  }
}
@media only screen and (min-width: 768px) and (max-width: 1199px) {
  .how-its-made-iframes {
    height: 400px;
    max-width: 614px;
    width: 100%;
  }
}
@media only screen and (min-width: 1200px) {
  .how-its-made-iframes {
    max-width: 600px;
    max-height: 400px;
    width: 100%;
    height: 100%;
  }
}
.image-how-its-made {
  position: absolute;
  height: 100%;
  width: 100%;
  max-width: 335px;
  max-height: 500px;
  border-radius: 15px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

@media and (min-width: 375px) and (min-device-pixel-ratio: 2),
  (min-width: 375px) and (-webkit-min-device-pixel-ratio: 2),
  (min-width: 375px) and (min-resolution: 192dpi),
  (min-width: 375px) and (min-resolution: 2dppx) {
  .image-how-its-made {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    max-height: 500px;
    max-width: 335px;
    height: 100%;
    width: 100%;
  }
}

@media only screen and (min-width: 768px) and (max-width: 1199px) {
  .image-how-its-made {
    border-radius: 15px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    width: 100%;
    max-width: 614px;
    max-height: 400px;
  }
}

@media and (min-width: 768px) and (min-device-pixel-ratio: 2),
  (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2),
  (min-width: 768px) and (min-resolution: 192dpi),
  (min-width: 768px) and (min-resolution: 2dppx) {
  .image-how-its-made {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    width: 100%;
  }
}

@media only screen and (min-width: 1199px) {
  .image-how-its-made {
    border-radius: 15px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    width: 100%;
    max-width: 600px;
    max-height: 400px;
  }
}

@media and (min-width: 1199px) and (min-device-pixel-ratio: 2),
  (min-width: 1199px) and (-webkit-min-device-pixel-ratio: 2),
  (min-width: 1199px) and (min-resolution: 192dpi),
  (min-width: 1199px) and (min-resolution: 2dppx) {
  .image-how-its-made {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    width: 100%;
  }
}

.image-how-its-made {
  position: absolute;
  border-radius: 15px;
}

.how-its-made-img {
  width: 100%;
}

.how-mde-image {
  cursor: pointer;
  border-radius: 15px;
}

.how-its-made-btn {
  display: flex;
  position: absolute;
  justify-content: center;
  align-items: center;
  background: none;
  top: 178px;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  border: 1px solid#fff;
}

.how-its-made-btn:hover .how-its-made-icon {
  stroke: var(--orange-background);
  fill: var(--orange-background);
  width: 20px;
  height: 21px;
}

.how-its-made-btn:hover {
  border: 1px solid var(--orange-background);
  width: 46px;
  height: 46px;
}

.image-how-its-made:hover ~ .how-its-made-btn {
  border: 1px solid var(--orange-background);
  width: 46px;
  height: 46px;
}

.how-its-made-btn:hover .how-its-made-icon {
  stroke: var(--orange-background);
  fill: var(--orange-background);
  width: 20px;
  height: 21px;
}

.image-how-its-made:hover + .how-its-made-btn .how-its-made-icon {
  stroke: var(--orange-background);
  fill: var(--orange-background);
  width: 20px;
  height: 21px;
}

@media only screen and (max-width: 767px) {
  .how-its-made-btn {
    width: 35px;
    height: 35px;
    top: 233px;
    left: calc(100% - 38px / 2 - 160px);
  }
}

@media only screen and (min-width: 768px) {
  .how-its-made-btn {
    left: calc(100% - 38px / 2 - 305px);
  }
}

@media only screen and (min-width: 1199px) {
  .how-its-made-btn {
    left: calc(50% - 44px / 2 - 268px);
  }
}

.how-its-made-icon {
  width: 18px;
  height: 19px;
  stroke: #fff;
  position: absolute;
  fill: #fff;
  left: 14px;
}

@media only screen and (max-width: 767px) {
  .how-its-made-icon {
    width: 14px;
    height: 15px;
    left: 11px;
  }
}

.how-its-made-container-items {
  width: 100%;
  padding: 32px;
  height: 100%;
  max-width: 516px;
  background-color: #fff;
  border-radius: 15px;
}

@media only screen and (max-width: 767px) {
  .how-its-made-container-items {
    padding: 20px 14px;
    height: 456px;
  }
}

@media only screen and (min-width: 768px) and (max-width: 1199px) {
  .how-its-made-container-items {
    width: 100%;
    max-width: 614px;
  }
}

.how-its-made-paragraph {
  font-weight: 600;
  font-size: 18px;
  line-height: calc(24 / 18);
  margin-bottom: 28px;
  color: #111111;
  width: 350px;
}

@media only screen and (max-width: 767px) {
  .how-its-made-paragraph {
    width: 100%;
    margin-bottom: 20px;
  }
}

.how-its-made-text {
  display: flex;
  gap: 18px;
  flex-direction: column;
}

@media only screen and (min-width: 1199px) {
  .how-its-made-text {
    gap: 24px;
  }
}

.how-its-made-item::before {
  content: '';
  position: absolute;
  width: 8px;
  height: 8px;
  left: 0px;
  top: 5px;
  background: #4c4c4c;
  border: 1px solid #eceded;
  border-radius: 50%;
}

.how-its-made-item {
  position: relative;
  width: 100%;
  font-size: 14px;
  line-height: calc(18 / 14);
  letter-spacing: -0.02em;
  padding-left: 16px;
  color: #111111;
}
