.section-our-product {
    margin-bottom: 72px;
    overflow: hidden;
}
.container-our-product {
    margin: auto;
    padding: 0px 20px;
}
.h2-our-product {
    color: var(--primary-dark-color);
    display: flex;
    justify-content: center;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 28px;
    letter-spacing: -0.03em;
    text-transform: uppercase;
    gap: 8px;
}
.h2-span-our-product{
    color: var(--orange-background);
}
.ul-our-product {

    width: 272px;
    margin: 0px;
    padding-top: 50px;
    display: flex;
}
.li-our-product {
    padding: 32px 0px;
    min-width: 270px;
    background: #FFFFFF;
    border: 1px solid rgba(17, 17, 17, 0.1);
    border-radius: 15px;
    flex: none;
    order: 0;
    flex-grow: 0;
}
.img-our-product {
    margin: auto;
    height: 201px;
    margin-bottom: 8px;
}
.h3-our-product {
    margin-bottom: 2px;
    display: flex;
    justify-content: center;
    margin-bottom: 2px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 24px;
    letter-spacing: -0.02em;
    text-transform: uppercase;
}
.p-our-product {
    display: flex;
    justify-content: center;
    margin-bottom: 18px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: -0.02em;
    color: rgba(17, 17, 17, 0.7);
}
.button-our-product {
    display: block;
    margin: auto;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    padding: 8px 20px;
    width: 94px;
    height: 33px;
    background: #FAFAFA;
    border: 1px solid rgba(17, 17, 17, 0.1);
    border-radius: 100px;
    transition: background-color var(--transition);
}
.button-our-product:hover,
.button-our-product:focus {
    background: var(--orange-background);
}
.swiper {
    margin-bottom: 32px;
}
.swiper-pagination {
    position: unset;
}
.swiper-pagination-bullet {
    width: 13px;
    height: 13px;
    background: rgba(17, 17, 17, 0.3);
}
.swiper-pagination-bullet.swiper-pagination-bullet-active {
    width: 28px;
    height: 13px;
    background: #FD9222;
    flex: none;
    border-radius: 28px / 28px;
}
.swiper-slide-active{
    display: flex;
    justify-content: center;
}
@media (min-width: 768px) and (max-width: 1199px) {
    .swiper-slide-active {
    justify-content: flex-end;
    }
}
@media (min-width: 1200px) {
    .swiper-slide {
    display: flex;
    justify-content: center;
    }
}