<div class="modal-subscribe modal" data-modal="1">
  <button class="modal-order-box-btn js-modal-close">
    <svg width="24" height="24">
      <use href="./img/symbol-defs.svg#icon-x-close"></use>
    </svg>
  </button>
  <div class="modal-subscribe-background"></div>
  <div class="modal-subscribe-content">
    <h2 class="title title-modal-subscribe">Explore our
      <span class="title-exception">new&nbsp;chocolate</span> first!
    </h2>
    <form>
      <div class="subscribe-form-field">
        <input class="modal-input-subscribe" type="email" id="email" name="email" placeholder="Enter your email"
          required>
        <button class="main-btn submit-subscribe" type="submit">Submit</button>
      </div>
    </form>

  </div>
</div>

<div class="modal-overlay js-overlay-modal"></div>
