<div id="modal-thankyou" class="modal">

    <div id="modal-thank-you" class="modal-thank-you">
        <button type="button" id="close-modal-thankyou" class="close-button-thank-you">

            <svg width="16" height="16" class="close-icon-thank-you">
                <use href="/img/symbol-defs.svg#icon-x-close"></use>

            </svg>
        </button>
        <div class="thank-you-block">

            <h1 class="title thank-you">Thank you!</h1>
            <p class="thank-you-info">We are glad that you ordered our chocolate and we are giving you a 20% discount on
                all our products.</p>
        </div>
        <img class="thank-you-chocolate small-chocolate" src="/img/chocolate-thank-you.png" alt="chocolate-thank-you"
            width="296px">
        <img class="thank-you-chocolate big-chocolate" src="/img/thank-you-chokolate-big.png"
            alt="chocolate-thank-you" width="384px">

    </div>
</div>