   <footer class="footer" id="footer">
        <div class="container">
            <div class="footer-top-part">
                <h2 class="footer-title"><span class="title-exception">Chocolate</span> a delicious cure for a bad day</h2>
                <div class="footer-contact-info">
                    <div class="footer-contact-us">
                        <p>Contact Us</p>
                        <address class="footer-address">
                            <a href="tel:+380684439326">+380 (68) 443-94-26</a>
                            <a href="mailto:simplychoc@gmail.com">simplychoc@gmail.com</a>
                        </address>
                    </div>
                    <ul class="footer-social-media">
                        <li class="footer-social-media-icon" >
                            <a href="" class="footer-social-media-link">
                                <svg width="22" height="22">
                                    <use href="/img/symbol-defs.svg#icon-instagram"></use>
                                </svg>
                            </a>
                        </li>
                        <li class="footer-social-media-icon">
                            <a href="" class="footer-social-media-link">
                                <svg width="22" height="22">
                                    <use href="/img/symbol-defs.svg#icon-twitter"></use>
                                </svg>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
           
            <ul class="footer-jump-to-sections">
                <li class="footer-section-list-item">
                    <a href="./index.html">Home</a>
                </li>
                <li class="footer-section-list-item">
                    <a href="#how-its-made">How it's made?</a>
                </li>
                <li class="footer-section-list-item">
                    <a href="#our-product">Our products</a>
                </li>
                <li class="footer-section-list-item">
                    <a href="#top-sellers">Top sellers</a>
                </li>
                <li class="footer-section-list-item">
                    <a href="#reviews">Cholocate is loved</a>
                </li>
            </ul>
        </div>
    </footer>