   <footer class="footer" id="footer">
        <div class="container">
            <div class="footer-top-part">
                <h2 class="footer-title"><span class="title-exception">Chocolate</span> a delicious cure for a bad day</h2>
                <div class="footer-contact-info">
                    <div class="footer-contact-us">
                        <p>Contact Us</p>
                        <address class="footer-address">
                            <a href="tel:+380684439326">+380 (68) 443-94-26</a>
                            <a href="mailto:simplychoc@gmail.com">simplychoc@gmail.com</a>
                        </address>
                    </div>
                    <ul class="footer-social-media">
                        <li class="footer-social-media-icon" >
                            <a href="" class="footer-social-media-link">
                                <svg width="22" height="22">
                                    <use href="/img/symbol-defs.svg#icon-instagram"></use>
                                </svg>
                            </a>
                        </li>
                        <li class="footer-social-media-icon">
                            <a href="" class="footer-social-media-link">
                                <svg width="22" height="22">
                                    <use href="/img/symbol-defs.svg#icon-twitter"></use>
                                </svg>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
           
            <ul class="footer-jump-to-sections">
                <li class="footer-section-list-item">
                    <a href="./index.html">Home</a>
                </li>
                <li class="footer-section-list-item">
                    <a href="#how-its-made">How it's made?</a>
                </li>
                <li class="footer-section-list-item">
                    <a href="#our-product">Our products</a>
                </li>
                <li class="footer-section-list-item">
                    <a href="#top-sellers">Top sellers</a>
                </li>
                <li class="footer-section-list-item">
                    <a href="#reviews">Cholocate is loved</a>
                </li>
            </ul>
        </div>
    </footer>


    <script>
    (() => {
        const menuContainer = document.querySelector('.js-menu-container');
        const openMenuBtn = document.querySelector('.js-open-menu');
        const closeMenuBtn = document.querySelector('.js-close-menu');

        const toggleMenu = () => menuContainer.classList.toggle('is-open');
        openMenuBtn.addEventListener('click', toggleMenu);
        closeMenuBtn.addEventListener('click', toggleMenu);

        // Закрываем мобильное меню на более широких экранах
        // в случае изменения ориентации устройства.
        window
            .matchMedia('(min-width: 600px)')
            .addEventListener(
                'change',
                e => e.matches && menuContainer.classList.remove('is-open'),
            );
    })();

    (() => {
            const refs = {
                openModalBtn: document.querySelector("[data-modal-open]"),
                closeModalBtn: document.querySelector("[data-modal-close]"),
                modal: document.querySelector("[data-modal]"),
            };

            refs.openModalBtn.addEventListener("click", toggleModal);
            refs.closeModalBtn.addEventListener("click", toggleModal);

            function toggleModal() {
                refs.modal.classList.toggle("is-hidden");
            }
        })();


        const toggleBtn = document.getElementById("toggle-btn-leave");
            const modals = document.getElementById("modal-leave");
            const closeBtn = modals.querySelector(".close-leave");
            const backgroundColor = document.querySelector(".leave-background-color")

            toggleBtn.addEventListener("click", () => {
                modals.style.display = "block";
                backgroundColor.style.backgroundColor = "rgba(0, 0, 0, 0.5)";
                backgroundColor.style.position = "fixed";
                backgroundColor.style.top = "0";
                backgroundColor.style.left = "0";
                backgroundColor.style.zIndex = "9999";
                backgroundColor.style.width = "100%";
                backgroundColor.style.height = "100%";

            });

            closeBtn.addEventListener("click", () => {
                modals.style.display = "none";
                backgroundColor.style.position = "unset";
            });

            window.addEventListener("click", (event) => {
                if (event.target === modals) {
                    modals.style.display = "none";
                    backgroundColor.style.position = "unset";
                }
            });

            !(function (e) {
                    'function' != typeof e.matches &&
                        (e.matches =
                            e.msMatchesSelector ||
                            e.mozMatchesSelector ||
                            e.webkitMatchesSelector ||
                            function (e) {
                                for (
                                    var t = this,
                                    o = (t.document || t.ownerDocument).querySelectorAll(e),
                                    n = 0;
                                    o[n] && o[n] !== t;

                                )
                                    ++n;
                                return Boolean(o[n]);
                            }),
                        'function' != typeof e.closest &&
                        (e.closest = function (e) {
                            for (var t = this; t && 1 === t.nodeType;) {
                                if (t.matches(e)) return t;
                                t = t.parentNode;
                            }
                            return null;
                        });
                })(window.Element.prototype);

                document.addEventListener('DOMContentLoaded', function () {
                    /* Записываем в переменные массив элементов-кнопок и подложку.
                        Подложке зададим id, чтобы не влиять на другие элементы с классом overlay*/
                    var modalButtons = document.querySelectorAll('.js-open-modal'),
                        overlay = document.querySelector('.js-overlay-modal'),
                        closeButtons = document.querySelectorAll('.js-modal-close');

                    /* Перебираем массив кнопок */
                    modalButtons.forEach(function (item) {
                        /* Назначаем каждой кнопке обработчик клика */
                        item.addEventListener('click', function (e) {
                            /* Предотвращаем стандартное действие элемента. Так как кнопку разные
                                  люди могут сделать по-разному. Кто-то сделает ссылку, кто-то кнопку.
                                  Нужно подстраховаться. */
                            e.preventDefault();

                            /* При каждом клике на кнопку мы будем забирать содержимое атрибута data-modal
                                  и будем искать модальное окно с таким же атрибутом. */
                            var modalId = this.getAttribute('data-modal'),
                                modalElem = document.querySelector(
                                    '.modal[data-modal="' + modalId + '"]'
                                );

                            /* После того как нашли нужное модальное окно, добавим классы
                                  подложке и окну чтобы показать их. */
                            modalElem.classList.add('active');
                            overlay.classList.add('active');
                        }); // end click
                    }); // end foreach

                    closeButtons.forEach(function (item) {
                        item.addEventListener('click', function (e) {
                            var parentModal = this.closest('.modal');

                            parentModal.classList.remove('active');
                            overlay.classList.remove('active');
                        });
                    }); // end foreach

                    document.body.addEventListener(
                        'keyup',
                        function (e) {
                            var key = e.keyCode;

                            if (key == 27) {
                                document.querySelector('.modal.active').classList.remove('active');
                                document.querySelector('.overlay').classList.remove('active');
                            }
                        },
                        false
                    );

                    overlay.addEventListener('click', function () {
                        document.querySelector('.modal.active').classList.remove('active');
                        this.classList.remove('active');
                    });
                }); // end ready

                const anchors = document.querySelectorAll('a[href*="#"]')

                const offset = 50 // значение смещения, которое вы хотите применить
                for (let anchor of anchors) {
                    anchor.addEventListener('click', function (e) {
                        e.preventDefault()
                        const blockID = anchor.getAttribute('href').substr(1)
                        const targetElement = document.getElementById(blockID)
                        const topPos = targetElement.getBoundingClientRect().top + window.pageYOffset
                        window.scrollTo({
                            top: topPos - offset,
                            behavior: 'smooth'
                        })
                    })
                }


                      // Get elements
                        const openModalBtn = document.getElementById('open-modal-btn');
                        const openModalBtnhero = document.getElementById('hero-btn-bue');
                        const openModalBtnmobile = document.getElementById('open-modal-btn-mobile');
                        const closeModalBtn = document.getElementById('close-modal-btn');
                        const closeModalThankyou = document.getElementById('close-modal-thankyou');
                        const modalContainer = document.getElementById('modal-container');
                        const modalForm = document.getElementById('modal-form');
                        const modalThankyou = document.getElementById('modal-thankyou');

                        // Show modal
                        function showModal() {
                            modalContainer.style.opacity = '0'; // Додаємо першу анімацію
                            modalContainer.style.display = 'block';
                            setTimeout(() => {
                                modalContainer.style.opacity = '1'; // Додаємо другу анімацію
                            }, 10);
                        }
                        function showModalThank() {
                            modalThankyou.style.display = 'block';
                        }

                        // Hide modal
                        function hideModal() {
                            modalContainer.style.opacity = 0;
                            setTimeout(() => {
                                modalContainer.style.display = 'none';
                                modalContainer.style.opacity = 1;
                            }, 500); // тривалість анімації + затримка
                        }



                        function handleSubmit(event) {
                            event.preventDefault();
                            hideModal();
                            modalThankyou.style.display = 'block';
                        }

                        // Event listeners
                        openModalBtn.addEventListener('click', showModal);
                        openModalBtnhero.addEventListener('click', showModal);
                        openModalBtnmobile.addEventListener('click', showModal);
                        closeModalBtn.addEventListener('click', hideModal);
                        closeModalThankyou.addEventListener('click', () => {
                            modalThankyou.style.display = 'block';
                        });



                        const toggleBtn = document.getElementById("toggle-btn-sendTT");
                        const modal = document.getElementById("modal-thankyou");
                        const lastmodal = document.getElementById("modal-container");
                        const closeBtn = modal.querySelector(".close-button-thank-you");
                        //const backgroundColor = document.querySelector(".leave-background-color")

                        // заполни поля Name + Email + phone
                        const nameInput = document.getElementById("name");
                        const surnameInput = document.getElementById("surname");
                        const emailInput = document.getElementById("email");
                        const phoneInput = document.getElementById("phone");
                        const CardInput = document.getElementById("cardnumber");
                        var phonePattern = /^\d{9}$/;
                        var emailPattern = /^[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}$/;
                        var phoneError = document.getElementById("phone-error");
                        toggleBtn.addEventListener("click", (e) => {
                            e.preventDefault()



                            if (nameInput.value && surnameInput.value && emailInput.value && emailPattern.test(emailInput.value) && phonePattern.test(phoneInput.value) && CardInput.value) {
                                lastmodal.style.display = "none";
                                modal.style.display = "block";

                            }


                            else {

                                if (!nameInput.value) {
                                    phoneError.innerHTML = "Name is empty.";
                                    return false;
                                }
                                else if (!surnameInput.value) {
                                    phoneError.innerHTML = "Surname is empty.";
                                    return false;
                                }
                                else if (!emailInput.value) {
                                    phoneError.innerHTML = "Email is empty.";
                                    return false;
                                }
                                else if (!emailPattern.test(emailInput.value)) {
                                    phoneError.innerHTML = "Email is Invalid.";
                                    return false;
                                }
                                else if (!emailPattern.test(emailInput.value)) {
                                    phoneError.innerHTML = "Email is Invalid.";
                                    return false;

                                }
                                else if (!phoneInput.value) {
                                    phoneError.innerHTML = "Phone is empty.";

                                    return false;
                                }
                                else if (!phonePattern.test(phoneInput.value)) {
                                    phoneError.innerHTML = "Invalid phone number.";

                                    return false;
                                }
                                else if (!CardInput.value) {
                                    phoneError.innerHTML = "Cart nubmer is empty.";

                                    return false;
                                }

                            }









                        });

                        closeBtn.addEventListener("click", () => {
                            modal.style.display = "none";
                        });

                        window.addEventListener("click", (event) => {

                            if (event.target === modal) {

                                modal.style.display = "none";
                            }
                        });

                        // ДЛЯ OUR PRODUCT//

                            const swiper1 = new Swiper('.swiper-our-prod', {
                                // Optional parameters
                                direction: 'horizontal',
                                loop: false,
                                breakpoints: {
                                    // when window width is >= 375px
                                    375: {
                                        slidesPerView: 1,
                                        spaceBetween: 0
                                    },
                                    // when window width is >= 768px
                                    768: {
                                        slidesPerView: 2.5,
                                        spaceBetween: 0
                                    },
                                    // when window width is >= 1200px
                                    1200: {
                                        slidesPerView: 4,
                                        spaceBetween: 0
                                    },
                                },
                                // If we need pagination
                                pagination: {
                                    el: '.swiper-pagination1',
                                    clickable: true,
                                },
                                // Navigation arrows
                                navigation: {
                                    nextEl: '.swiper-button-next',
                                    prevEl: '.swiper-button-prev',
                                },

                                // And if we need scrollbar
                                scrollbar: {
                                    el: '.swiper-scrollbar',
                                },
                            });

                            //ДЛЯ REVIEWS//

                                const swiper2 = new Swiper('.swipers', {
                                    // Optional parameters
                                    direction: 'horizontal',
                                    loop: false,
                                    breakpoints: {
                                        // when window width is >= 375px
                                        375: {
                                            slidesPerView: 1,
                                            spaceBetween: 0
                                        },
                                        // when window width is >= 768px
                                        768: {
                                            slidesPerView: 2,
                                            spaceBetween: 0
                                        },
                                        // when window width is >= 1200px
                                        1200: {
                                            slidesPerView: 3,
                                            spaceBetween: 0
                                        },
                                    },
                                    // If we need pagination
                                    pagination: {
                                        el: '.swiper-pagination',
                                        clickable: true,
                                    },
                                    // Navigation arrows
                                    navigation: {
                                        nextEl: '.swiper-button-next',
                                        prevEl: '.swiper-button-prev',
                                    },

                                    // And if we need scrollbar
                                    scrollbar: {
                                        el: '.swiper-scrollbar',
                                    },
                                });

                                const swiper3 = new Swiper('.swiper', {
                                        // Optional parameters
                                        direction: 'horizontal',
                                        loop: false,
                                        breakpoints: {
                                            // when window width is >= 375px
                                            375: {
                                                slidesPerView: 1,
                                                spaceBetween: 0
                                            },
                                            // when window width is >= 768px
                                            768: {
                                                slidesPerView: 2,
                                                spaceBetween: 0
                                            },
                                            // when window width is >= 1200px
                                            1200: {
                                                slidesPerView: 4,
                                                spaceBetween: 0
                                            },
                                        },
                                        // If we need pagination
                                        pagination: {
                                            el: '.swiper-pagination',
                                            clickable: true,
                                        },
                                        // Navigation arrows
                                        navigation: {
                                            nextEl: '.swiper-button-next',
                                            prevEl: '.swiper-button-prev',
                                        },

                                        // And if we need scrollbar
                                        scrollbar: {
                                            el: '.swiper-scrollbar',
                                        },
                                    });

                                    const toggleBtn1 = document.getElementById("toggle-btn-send");
                                        const modal1 = document.getElementById("modal-thankyou");
                                        const lastmodal1 = document.getElementById("modal-leave");
                                        const closeBtn1 = modal.querySelector(".close-button-thank-you");
                                        const backgroundColor1 = document.querySelector(".leave-background-color")

                                        // заполни поля Name + Email + phone
                                        const nameInput1 = document.getElementById("name-leave");
                                        const emailInput1 = document.getElementById("email-leave");
                                        const phoneInput1 = document.getElementById("tel-leave");

                                        toggleBtn1.addEventListener("click", (e) => {
                                            e.preventDefault()

                                            if (!nameInput1.value) {
                                                alert("Name is empty");
                                            } else if (!emailInput1.value) {
                                                alert("Email is empty");
                                            } else if (!phoneInput1.value) {
                                                alert("Phone is empty");
                                            } else {
                                                lastmodal1.style.display = "none";
                                                modal1.style.display = "block";
                                                backgroundColor1.style.position = "unset";
                                            }

                                        });

                                        closeBtn1.addEventListener("click", () => {
                                            modal1.style.display = "none";
                                        });

                                        window.addEventListener("click", (event) => {

                                            if (event.target === modal) {

                                                modal.style.display = "none";
                                            }
                                        });
    </script>