<header class="header">
    <div class="container header-container">
        <nav class="page-nav">
            <ul class="menu-logo list">
                <li>
                    <a class="header-logo link" href="./index.html">SIMPLY <span class="logo-choc-header">CHOCOLATE</span></a>
                </li>
                <li>
                    <a class="link" href="./index.html">
                        <svg class="header-logo-icon">
                            <use href="/img/symbol-defs.svg#icon-chocolate"></use>
                        </svg>
                    </a> 
                </li>
            </ul>
            <ul class="menu-nav list">
                <li class="menu-item">
                    <a class="link nav-head change" href="./index.html">Home</a>
                </li>
                <li class="menu-item">
                    <a class="link nav-head change" href="#how-its-made">How it&#39;s made?</a>
                </li>
                <li class="menu-item">
                    <a class="link nav-head change" href="#our-product">Our products</a>
                </li>
                <li class="menu-item">
                    <a class="link nav-head change" href="#top-sellers">Top sellers</a>
                </li>
                <li class="menu-item">
                    <a class="link nav-head change" href="#footer">Contacts</a>
                </li>
            </ul>
        </nav>
            <ul class="list header-social">
                <li class="header-social-li-inst">
                    <a class="link" href="">
                        <svg class="header-social-icon" width="20" height="20">
                            <use href="/img/symbol-defs.svg#icon-instagram"></use>
                        </svg>
                    </a>
                </li>
                <li class="header-social-li-inst">
                    <a class="link" href="">
                        <svg class="header-social-icon" width="20" height="20">
                            <use href="/img/symbol-defs.svg#icon-twitter"></use>
                        </svg>  
                    </a>
                </li>
            </ul>
    </div>
    <div class="container header-container-mobile">
        <ul class="menu-logo list">
            <li>
                <a class="header-logo link" href="./index.html">SIMPLY <span class="logo-choc-header">CHOCOLATE</span></a>
            </li>
            <li>
                <a class="link" href="./index.html">
                    <svg class="header-logo-icon">
                        <use href="/img/symbol-defs.svg#icon-chocolate"></use>
                    </svg>
                </a> 
            </li>
        </ul>
        <button type="button" class="header-burger js-open-menu">
            <svg class="mobile-menu-burger-icon">
                <use href="/img/symbol-defs.svg#icon-menu"></use>
            </svg>
        </button>
    </div>
    <div class="mobil-menu js-menu-container">
        <button type="button" class="js-close-menu cross-btn">
            <svg class="mob-but-cloce" width="28" height="28">
                <use href="/img/symbol-defs.svg#icon-x-close"></use>
            </svg>
        </button>
        <div class="mobil-menu-dist">
            <ul class="list menu-mobile-list">
                <li class="menu-mobile-list-link">
                    <a class="menu-mobile link" href="./index.html">Home</a>
                </li>
                <li class="menu-mobile-list-link">
                    <a class="menu-mobile link" href="#how-its-made">How it&#39;s made?</a>
                </li>
                <li class="menu-mobile-list-link">
                    <a class="menu-mobile link" href="#our-product">Our products</a>
                </li>
                <li class="menu-mobile-list-link">
                    <a class="menu-mobile link" href="#top-sellers">Top sellers</a>
                </li>
                <li class="menu-mobile-list-link">
                    <a class="menu-mobile link" href="#reviews">Chocolate is loved</a>
                </li>
            </ul>
        </div>
        <div class="menu-icon">
            <ul class="list menu-mobile-social">
                <li class="menu-mobile-social-li-inst">
                    <a class="link change" href="">
                        <svg class="menu-mobile-social-icon"  width="20" height="20">
                            <use href="/img/symbol-defs.svg#icon-instagram"></use>
                        </svg>
                    </a>
                    </li>
                <li class="menu-mobiler-social-li-twit">
                    <a class="link change" href="">
                        <svg class="menu-mobile-social-icon"  width="20" height="20">
                            <use href="/img/symbol-defs.svg#icon-twitter"></use>
                        </svg>  
                    </a>
                </li>
            </ul>
        </div>
    </div>
</header>
