    <header class="header">
        <div class="container header-container">
            <nav class="page-nav">
                <a class="header-logo link" href="./index.html">SIMPLY&nbsp<span class="logo-choc-header">CHOCOLATE</span>
                    <svg class="header-social-icon"  width="20" height="20">
                        <use href="./images/sptite.svg#icon-instagram"></use>
                    </svg>
                </a>
                <ul class="menu-nav list">
                    <li class="menu-item">
                        <a class="link nav-head change" href="./index.html">Home</a>
                    </li>
                    <li class="menu-item">
                        <a class="link nav-head change" href="#how-its-made">How it’s made?</a>
                    </li>
                    <li class="menu-item">
                        <a class="link nav-head change" href="#our-product">Our products</a>
                    </li>
                    <li class="menu-item">
                        <a class="link nav-head change" href="#top-sellers">Top sellers</a>
                    </li>
                    <li class="menu-item">
                        <a class="link nav-head change" href="#footer">Contacts</a>
                    </li>
                </ul>
            </nav>
                <ul class="list header-social">
                    <li class="header-social-li-inst">
                        <a class="link change" href="">
                            <svg class="header-social-icon"  width="20" height="20">
                                <use href="./images/sptite.svg#icon-instagram"></use>
                            </svg>
                        </a>
                    </li>
                    <li class="header-social-li-twit">
                        <a class="link change" href="">
                            <svg class="header-social-icon-icon"  width="20" height="20">
                                <use href="./images/sptite.svg#icon-twitter"></use>
                            </svg>  
                        </a>
                    </li>
                </ul>
        </div>
        <div class="container header-container-mobile">
            <a class="header-logo link" href="./index.html">SIMPLY&nbsp<span class="logo-choc-header">CHOCOLATE</span></a>
            <button type="button" class="header-burger js-open-menu">
                <svg class="mobile-menu-burger-icon"  width="32" height="22">
                    <use href="./images/sptite.svg#icon-burger"></use>
                </svg>
            </button>
        </div>
        <div class="mobil-menu js-menu-container">
            <button type="button" class="js-close-menu">
                <svg class="mob-but-cloce" width="13" height="13">
                    <use href="./images/sptite.svg#icon-close-black-18dp-2-1"></use>
                </svg>
            </button>
            <div class="mobil-menu-dist">
                <ul class="list menu-mobile-list">
                    <li class="menu-mobile-list-link">
                        <a class="menu-mobile link" href="./index.html">Home</a>
                    </li>
                    <li class="menu-mobile-list-link">
                        <a class="menu-mobile link" href="#how-its-made">How it’s made?</a>
                    </li>
                    <li class="menu-mobile-list-link">
                        <a class="menu-mobile link" href="#our-product">Our products</a>
                    </li>
                    <li class="menu-mobile-list-link">
                        <a class="menu-mobile link" href="#top-sellers">Top sellers</a>
                    </li>
                    <li class="menu-mobile-list-link">
                        <a class="menu-mobile link" href="#reviews">Chocolate is loved</a>
                    </li>
                </ul>
            </div>
            <div class="menu-icon">
                <ul class="list menu-mobile-social">
                        <li class="menu-mobile-social-li-inst">
                            <a class="link change" href="">
                                <svg class="menu-mobile-social-icon"  width="20" height="20">
                                    <use href="./images/sptite.svg#icon-instagram"></use>
                                </svg>
                            </a>
                        </li>
                        <li class="menu-mobiler-social-li-twit">
                            <a class="link change" href="">
                                <svg class="menu-mobile-social-icon"  width="20" height="20">
                                    <use href="./images/sptite.svg#icon-twitter"></use>
                                </svg>  
                            </a>
                        </li>
                </ul>
            </div>
        </div>
    </header>