<section class="section-our-product" id="our-product">
    <div class="container-our-product">
        <h2 class="title">OUR <span class="title-exception">PRODUCTS</span></h2>
        <!-- Slider main container -->
        <div class="swiper-our-prod">
            <!-- Additional required wrapper -->
            <div class="swiper-wrapper">
                <!-- Slides -->
                <div class="swiper-slide ul-our-product">
                    <div class="li-our-product">
                        <img class="img-our-product"
                            srcset="/img/Chocolate/our-product/our-product-simply-chocolate1.jpg 1x, /img/Chocolate/our-product/our-product-simply-chocolate1@x2.jpg 2x"
                            src="/img/Chocolate/our-product/our-product-simply-chocolate1.jpg" alt="apple&cranberry"
                            width="230" height="201">
                        <h3 class="h3-our-product">ORANGE</h3>
                        <p class="p-our-product">Dark chocolate</p>
                        <button type="button" class="button-our-product">45 UAH</button>
                    </div>
                </div>
                <div class="swiper-slide ul-our-product">
                    <div class="li-our-product">
                        <img class="img-our-product"
                            srcset="/img/Chocolate/our-product/our-product-simply-chocolate2.jpg 1x, /img/Chocolate/our-product/our-product-simply-chocolate2@x2.jpg 2x"
                            src="/img/Chocolate/our-product/our-product-simply-chocolate2.jpg" alt="apple&cranberry"
                            width="230" height="201">
                        <h3 class="h3-our-product">APPLE&CRANBERRY</h3>
                        <p class="p-our-product">Milk chocolate</p>
                        <button type="button" class="button-our-product">50 UAH</button>
                    </div>
                </div>
                <div class="swiper-slide ul-our-product">
                    <div class="li-our-product">
                        <img class="img-our-product"
                            srcset="/img/Chocolate/our-product/our-product-simply-chocolate3.jpg 1x, /img/Chocolate/our-product/our-product-simply-chocolate3@x2.jpg 2x"
                            src="/img/Chocolate/our-product/our-product-simply-chocolate3.jpg" alt="apple&cranberry"
                            width="230" height="201">
                        <h3 class="h3-our-product">LIME&SEA SALT</h3>
                        <p class="p-our-product">Dark chocolate</p>
                        <button type="button" class="button-our-product">66 UAH</button>
                    </div>
                </div>
                <div class="swiper-slide ul-our-product">
                    <div class="li-our-product">
                        <img class="img-our-product"
                            srcset="/img/Chocolate/our-product/our-product-simply-chocolate4.jpg 1x, /img/Chocolate/our-product/our-product-simply-chocolate4@x2.jpg 2x"
                            src="/img/Chocolate/our-product/our-product-simply-chocolate4.jpg" alt="apple&cranberry"
                            width="230" height="201">
                        <h3 class="h3-our-product">PINEAPPLE</h3>
                        <p class="p-our-product">Dark chocolate</p>
                        <button type="button" class="button-our-product">66 UAH</button>
                    </div>
                </div>
                <div class="swiper-slide ul-our-product">
                    <div class="li-our-product">
                        <img class="img-our-product"
                            srcset="/img/Chocolate/our-product/our-product-simply-chocolate5.jpg 1x, /img/Chocolate/our-product/our-product-simply-chocolate3@x2.jpg 2x"
                            src="/img/Chocolate/our-product/our-product-simply-chocolate3.jpg" alt="apple&cranberry"
                            width="230" height="201">
                        <h3 class="h3-our-product">CLASSIC</h3>
                        <p class="p-our-product">Milk chocolate</p>
                        <button type="button" class="button-our-product">45 UAH</button>
                    </div>
                </div>
                <div class="swiper-slide ul-our-product">
                    <div class="li-our-product">
                        <img class="img-our-product"
                            srcset="/img/Chocolate/our-product/our-product-simply-chocolate6.jpg 1x, /img/Chocolate/our-product/our-product-simply-chocolate6@x2.jpg 2x"
                            src="/img/Chocolate/our-product/our-product-simply-chocolate6.jpg" alt="apple&cranberry"
                            width="230" height="201">
                        <h3 class="h3-our-product">HONEY</h3>
                        <p class="p-our-product">Milk chocolate</p>
                        <button type="button" class="button-our-product">50 UAH</button>
                    </div>
                </div>
                <div class="swiper-slide ul-our-product">
                    <div class="li-our-product">
                        <img class="img-our-product"
                            srcset="/img/Chocolate/our-product/our-product-simply-chocolate7.jpg 1x, /img/Chocolate/our-product/our-product-simply-chocolate7@x2.jpg 2x"
                            src="/img/Chocolate/our-product/our-product-simply-chocolate7.jpg" alt="apple&cranberry"
                            width="230" height="201">
                        <h3 class="h3-our-product">ROASTED FRUITS</h3>
                        <p class="p-our-product">Dark chocolate</p>
                        <button type="button" class="button-our-product">66 UAH</button>
                    </div>
                </div>
                <div class="swiper-slide ul-our-product">
                    <div class="li-our-product">
                        <img class="img-our-product"
                            srcset="/img/Chocolate/our-product/our-product-simply-chocolate8.jpg 1x, /img/Chocolate/our-product/our-product-simply-chocolate8@x2.jpg 2x"
                            src="/img/Chocolate/our-product/our-product-simply-chocolate8.jpg" alt="apple&cranberry"
                            width="230" height="201">
                        <h3 class="h3-our-product">CLASS</h3>
                        <p class="p-our-product">White chocolate</p>
                        <button type="button" class="button-our-product">54 UAH</button>
                    </div>
                </div>
            </div>
        </div>
        <!-- If we need pagination -->
        <div class="swiper-pagination1"></div>
    </div>
</section>