<section class="section-our-product">
    <div class="container-our-product">
        <h2 class="h2-our-product">HOW IT'S <span class="h2-span-our-product">MADE?</span></h2>
        <ul class="ul-our-product">
            <li class="li-our-product">
                <img class="img-our-product" src="../img/vite-logo.png" alt="apple&cranberry" width="230" height="201">
                <h3 class="h3-our-product">ORANGE</h3>
                <p class="p-our-product">Dark chocolate</p>
                <button type="button" class="button-our-product">45 UAH</button>
            </li>
            <li class="li-our-product">
                <img class="img-our-product" src="../img/vite-logo.png" alt="apple&cranberry" width="230" height="201">
                <h3 class="h3-our-product">APPLE&CRANBERRY</h3>
                <p class="p-our-product">Milk chocolate</p>
                <button type="button" class="button-our-product">50 UAH</button>
            </li>
            <li class="li-our-product">
                <img class="img-our-product" src="../img/vite-logo.png" alt="apple&cranberry" width="230" height="201">
                <h3 class="h3-our-product">LIME&SEA SALT</h3>
                <p class="p-our-product">Dark chocolate</p>
                <button type="button" class="button-our-product">66 UAH</button>
            </li>
            <li class="li-our-product">
                <img class="img-our-product" src="../img/vite-logo.png" alt="apple&cranberry" width="230" height="201">
                <h3 class="h3-our-product">PINEAPPLE</h3>
                <p class="p-our-product">Dark chocolate</p>
                <button type="button" class="button-our-product">66 UAH</button>
            </li>
            <li class="li-our-product">
                <img class="img-our-product" src="../img/vite-logo.png" alt="apple&cranberry" width="230" height="201">
                <h3 class="h3-our-product">CLASSIC</h3>
                <p class="p-our-product">Milk chocolate</p>
                <button type="button" class="button-our-product">45 UAH</button>
            </li>
            <li class="li-our-product">
                <img class="img-our-product" src="../img/vite-logo.png" alt="apple&cranberry" width="230" height="201">
                <h3 class="h3-our-product">HONEY</h3>
                <p class="p-our-product">Milk chocolate</p>
                <button type="button" class="button-our-product">50 UAH</button>
            </li>
            <li class="li-our-product">
                <img class="img-our-product" src="../img/vite-logo.png" alt="apple&cranberry" width="230" height="201">
                <h3 class="h3-our-product">ROASTED FRUITS</h3>
                <p class="p-our-product">Dark chocolate</p>
                <button type="button" class="button-our-product">66 UAH</button>
            </li>
            <li class="li-our-product">
                <img class="img-our-product" src="../img/vite-logo.png" alt="apple&cranberry" width="230" height="201">
                <h3 class="h3-our-product">CLASS</h3>
                <p class="p-our-product">White chocolate</p>
                <button type="button" class="button-our-product">54 UAH</button>
            </li>
        </ul>
    </div>
</section>