<section class="section section-feedback" id="reviews">
  <div class="container-feedback">
    <h2 class="title h2-rewiews"><span class="title-exception">CHOCOLATE&nbsp;</span>IS LOVED</span>
    </h2>
    <div class="swipers">
      <!-- Additional required wrapper -->
      <div class="swiper-wrapper block-card-reviews">
        <!-- Slides -->
        <div class="swiper-slide list-feedback">
          <div class="feedback-item">
            <picture>
              <source srcset="
                          /img/img-victoria.jpg    1x,
                          /img/img-victoria@2x.jpg 2x
                        " />
              <img class="feedback-user-img" src="./img/chocolate/reviews/img-victoria.jpg" alt="Victoria Dobrzhanska"
                width="80" height="80" />
            </picture>
            <div class="feedback-card">
              <h3 class="feedback-user-name">Victoria Dobrzhanska</h3>
              <p class="feedback-user-comment">
                I love this chocolate bar. Perfect combination of light crispy wafer,
                covered in a thin layer chocolate.
              </p>
            </div>
          </div>
        </div>
        <div class="swiper-slide list-feedback">
          <div class="feedback-item">
            <picture>
              <source srcset="
                          /img/img-nazar.jpg    1x,
                          /img/img-nazar@2x.jpg 2x
                        " />
              <img class="feedback-user-img" src="./img/img-nazar.jpg" alt="Nazar Babenko" width="80" height="80" />
            </picture>
            <div class="feedback-card">
              <h3 class="feedback-user-name">Nazar Babenko</h3>
              <p class="feedback-user-comment">
                This chocolate confection is a delight! A delight! The wafer is light
                and crisp, the hazelnut cream is smooth, and the chocolate is good.
              </p>
            </div>
          </div>
        </div>
        <div class="swiper-slide list-feedback">
          <div class="feedback-item">
            <picture>
              <source srcset="
                          /img/img-olena.jpg    1x,
                          /img/img-olena@2x.jpg 2x
                        " />
              <img class="feedback-user-img" src="./img/img-olena.jpg" alt="Olena Kampusch" width="80" height="80" />
            </picture>
            <div class="feedback-card">
              <h3 class="feedback-user-name">Olena Kampusch</h3>
              <p class="feedback-user-comment">
                Chocolate is a family favourite treat. Love the delicious smooth
                chocolate and the creaminess inside. The wafer is soft but crunchy.
              </p>
            </div>
          </div>
        </div>
        <div class="swiper-slide list-feedback">
          <div class="feedback-item">
            <picture>
              <source srcset="
                          /img/img-natalia.jpg    1x,
                          /img/img-natalia@2x.jpg 2x
                        " />
              <img class="feedback-user-img" src="./img/img-natalia.jpg" alt="Natalia Sus" width="80" height="80" />
            </picture>
            <div class="feedback-card">
              <h3 class="feedback-user-name">Natalia Sus</h3>
              <p class="feedback-user-comment">
                The chocolate assortment was delicious. Both dark and milk chocolate
                pieces were smooth and just right on the sweetness level.
              </p>
            </div>
          </div>
        </div>
        <div class="swiper-slide list-feedback">
          <div class="feedback-item">
            <picture>
              <source srcset="
                          /img/img-danilo.jpg    1x,
                          /img/img-danilo@2x.jpg 2x
                        " />
              <img class="feedback-user-img" src="./img/chocolate/reviews/img-danilo.jpg" alt="Danilo Nottingham" width="80"
                height="80" />
            </picture>
            <div class="feedback-card">
              <h3 class="feedback-user-name">Danilo Nottingham</h3>
              <p class="feedback-user-comment">
                This is delicious. It so rich and flavorful you don't need to use as
                many. I love topping an apple with almond butter and these chips for a
                snack.
              </p>
            </div>
          </div>
        </div>
        <div class="swiper-slide list-feedback">
          <div class="feedback-item">
            <picture>
              <source srcset="
                          /img/img-irina.jpg    1x,
                          /img/img-irina@2x.jpg 2x
                        " />
              <img class="feedback-user-img" src="/img/img-irina.jpg" alt="Irina Tydnyuk" width="80" height="80" />
            </picture>
            <div class="feedback-card">
              <h3 class="feedback-user-name">Irina Tydnyuk</h3>
              <p class="feedback-user-comment">
                This is simply the best chocolate around, and I'm just thrilled to
                support a local company! Best local chocolate - world class &#9786;
              </p>
            </div>
          </div>
        </div>
      </div>
      <!-- If we need pagination -->
      <div class="swiper-pagination"></div>
    </div>
    <button id="toggle-btn-leave" type="button" class="feedback-btn"  data-modal-feedback-open>
      Leave a review
    </button>
  </div>
</section>
