<section class="section" id="top-sellers">
    <div class="container">

        <h2 class="title top-seller-title"><span class="title-exception">Top</span> Sellers</h2>


        <ul class="top-seller-list">
            <li class="top-seller-item">
                <img srcset="/img/top-seller-picture-1.jpg, /img/top-seller-picture-1@2x.jpg 2x"
                    alt="top-seller-picture-1" width="368">

                <p class="top-seller-info mobile">Crazy enough chocolate originates from a bean just like the coffee
                    bean called Cacao. Cacao has been around for
                    thousands of years and was first discovered by the Native American tribe called the Mayans.</p>
            </li>
            <li class="top-seller-item">
                <img srcset="/img/top-seller-picture-2.jpg, /img/top-seller-picture-2@2x.jpg 2x"
                    alt="top-seller-picture-2" width="368">
                <button id="open-modal-btn-mobile" class="main-btn top-seller-button mobile-bottom">Buy now</button>
            </li>
            <li class="top-seller-item">
                <img srcset="/img/top-seller-picture-3.jpg, /img/top-seller-picture-3@2x.jpg 2x"
                    alt="top-seller-picture-3.jpg" width="368">
            </li>

        </ul>


        <div class="top-seller-button-info">
            <p class="top-seller-info">Crazy enough chocolate originates from a bean just like the coffee bean called
                Cacao.
                Cacao has been around for
                thousands of years and was first discovered by the Native American tribe called the Mayans.</p>
            <button id="open-modal-btn" class="main-btn top-seller-button">Buy now</button>
        </div>

    </div>
</section>