<section class="section">
  <div class="container">
    <h2 class="title components-title">
      It all adds up to one exceptional
      <span class="title-exception"> taste </span> sensation
    </h2>
    <p class="components-text">
      At Simply Chocolate, we believe that the secret to exceptional chocolate
      is in the details. From the sourcing of the finest ingredients to the
      careful crafting of each individual piece, every step of our process adds
      up to one exceptional taste sensation.
    </p>
    <ul class="components-list-cards">
      <li class="components-item-card">
        <img
          class="components-img"
          srcset="
            ../img/components-chokolate.png    1x,
            ../img/components-chokolate@2x.png 2x
          "
          src="../img/mobil-components-chokolate.png"
          alt="chokolate"
        />
        <h3 class="components-h3">Milk chokolate</h3>
      </li>
      <li class="components-item-card milk">
        <img
          class="components-img"
          srcset="
            ../img/components-milk.jpg    1x,
            ../img/components-milk@2x.jpg 2x
          "
          src="../img/components-milk.jpg"
          alt="milk"
        />
        <h3 class="components-h3 dark">Milk</h3>
      </li>
      <li class="components-item-card nuts">
        <img
          class="components-img"
          srcset="
            ../img/components-nuts.png    1x,
            ../img/components-nuts@2x.png 2x
          "
          src="../img/components-nuts.png"
          alt="nuts"
        />
        <h3 class="components-h3">Nuts</h3>
      </li>
      <li class="components-item-card coffee">
        <img
          class="components-img"
          srcset="
            ../img/components-coffee.jpg    1x,
            ../img/components-coffee@2x.jpg 2x
          "
          src="../img/components-coffee.jpg"
          alt="coffee"
        />
        <h3 class="components-h3 dark">Semi-Sweet chocolate</h3>
      </li>
    </ul>
  </div>
</section>
