/**
  |============================
  | include css partials with
  | default @import url()
  |============================
*/

/* Utils */
@import url('./utils/variables.css');
@import url('./utils/vh.css');
/* Base */
@import url('./base/common.css');
@import url('./base/reset.css');
@import url('./base/fonts.css');
/* Components */
@import url('./components/container.css');
/* Layout */
@import url('./layout/header.css');
@import url('./layout/hero.css');
@import url('./layout/advantages.css');
@import url('./layout/unique-components.css');
@import url('./layout/how-its-made.css');
@import url('./layout/our-product.css');
@import url('./layout/top-sellers.css');
@import url('./layout/reviews.css');
@import url('./layout/subscribe.css');
@import url('./layout/footer.css');
/* Modals */
@import url('./layout/modal/buy-now-modal.css');
@import url('./layout/modal/explore-new-chocolate.css');
@import url('./layout/modal/leave-review-modal.css');
@import url('./layout/modal/thank-you-modal.css');



