 #modal-container {
     display: none;
     position: fixed;
     z-index: 1;
     top: 0;
     left: 0;
     width: 100%;
     height: 100%;
     overflow: auto;
     background-color: rgba(0, 0, 0, 0.5);
    padding: 24px 24px;
 }
.modal-buy-now {
        max-width: 600px;
        min-height: 586px;
        padding: 24px 24px;
        background-color: #FCFCFC;
        box-shadow: 0px 1px 1px rgb(0 0 0 / 14%), 0px 1px 3px rgb(0 0 0 / 12%), 0px 2px 1px rgb(0 0 0 / 20%);
        border-radius: 4px;
        transition: var(--transition-duration) var(--transition-timing-function);
        width: 100%;
        border-radius: 15px
}


 .modal-form input {
     display: block;
     width: 100%;
     margin-bottom: 14px;
     padding: 10px;
     border-radius: 5px;
     border: 1px solid #ccc;
    margin-bottom: 14px;
    margin-top: 4px;
    overflow: hidden;
 }

 .modal-btn.submit {
     padding: 12px 28px;
     width: 109px;
     height: 41px;
     border: 0;
     border-radius: 100px;
    margin-top: 18px;
 }
.modal-thank-you {
    background: #FD9222;
    border-radius: 15px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1);
    max-width: 311px;
    width: 100%;
    max-height: 350px;
    height: 100%;
    padding: 14px 14px;
    position: relative;
}
.thank-you-block {
    margin: 40px 10px 0 57px;
    position: relative;
}


 /* Thank you modal */
 #modal-thankyou {
    display: none;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 24px 24px;
 }
.title.thank-you {
    color: var(--pressed-state-orange);
    letter-spacing: -0.02em;
    margin-bottom: 8px;
    text-align: left;
}
 #modal-thankyou h2 {
     margin-top: 0;
 }

#modal-thankyou p {
letter-spacing: -0.02em;
    color: var(--pressed-state-orange);
    line-height: 1.1;
    height: 64px;
    width: 100%;
    text-align: left;
}

 .close-icon-thank-you {
     width: 14px;
     height: 14px;
     stroke: #F16529;
 }
.close-button-thank-you {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 24px;
    height: 24px;
    margin-left: auto;
    background-color: var(--pressed-state-orange);
    border: 1px solid var(--pressed-state-orange);
    border-radius: 50%;
    cursor: pointer;
}




 .buy-now-info {
     font-weight: 500;
     font-size: 12px;
     line-height: 1.1;
     letter-spacing: -0.02em;
     color: var(--primary-dark-color);
    width: 100%;
    }


 .buy-now-form-field {
     position: relative;
     display: flex;
     align-items: center;
 }



 .input-text {
     font-weight: 400;
     font-size: 12px;
     line-height: calc(16/12);
     letter-spacing: 0.04em;
     width: 100%;
 }

 .buy-now-input-svg-phone {
     position: absolute;
     top: 40%;
     left: 10px;
 }
 .buy-now-phone-maska {
     margin: 0;
     position: absolute;
     margin-top: 3px;
     margin-left: 8px;
     padding-right: 5px;
     border-right: 1px solid #ccc;
 }

 input.modal-input.input-text.input-phone {
     padding-left: 85px;
 }

 .buy-now-input-svg-credit-number 
 
 {

position: absolute;
    top: 40%;
    right: 10px;
 }

 textarea.modal-form.textarea.input-text {
    height: 91px;
        resize: none;
        display: block;
        width: 100%;
        padding: 10px;
        border-radius: 5px;
        border: 1px solid #ccc;
        margin-bottom: 14px;
        margin-top: 4px;
 }

 .modal-buy-now .close-button {
display: flex;
    justify-content: center;
    align-items: center;
    width: 24px;
    height: 24px;
    margin-left: auto;
    cursor: pointer;
    border: 0;
    background-color: transparent;
 }

.close-button .close-icon {
    width: 12px;
    height: 12px;
    stroke: var(--primary-dark-color);
}

 .modal .close-button:hover,
 .modal .close-button:focus {
     background-color: var(--secondary-accent-color);
     color: var(--primary-bg-color);
 }
.modal-buy-now-item {
    border-radius: 15px;
    background: var(--primary-text-light-color);
    border: 1px solid rgba(17, 17, 17, 0.1);
    padding: 24px;
    max-width: 160px;
    flex-basis: calc((100% - 16px)/3);
        max-width: 160px;
}
.modal-buy-now-gram {
    text-align: center;
    border: 1px solid rgba(17, 17, 17, 0.1);
    border-radius: 100px;
    margin-top: 14px;
    padding: 8px 27px;
    color: var(--primary-dark-color);
    font-weight: 600;
}
.modal-buy-now-list-of-products {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    gap: 16px;
    margin-bottom: 40px;
    max-height: 200px;
}
.buy-now-title {
    margin-bottom: 32px;
}

li.modal-buy-now-item:hover,
li.modal-buy-now-item:focus {
    border: 4px solid var(--pressed-state-orange);
}
.modal-buy-now-gram:hover {
    border: 1px solid var(--pressed-state-orange);
    background-color: var(--pressed-state-orange);
}
.modal-input:focus {
    border: 1px solid var(--pressed-state-orange);
}

.modal-btn.submit:hover,
.modal-btn.submit:focus {
    background-color: var(--pressed-state-orange);
    color: var(--orange-background);
}

.pagination-taras{
    margin-bottom: 32px;
}

 .swiper-top-seller {
     display: block;
 }

 .li-top-seller {
    border-radius: 15px;
    background: var(--primary-text-light-color);
    border: 1px solid rgba(17, 17, 17, 0.1);
    max-width: 231px;
    height: 268px;
    padding: 32px 32px 0 32px;
}

.modal-buy-now-gram.mobile {
    text-align: center;
    border: 1px solid rgba(17, 17, 17, 0.1);
    border-radius: 100px;
    margin-top: 16px;
    color: var(--primary-dark-color);
    font-weight: 600;
    margin-bottom: 28px;
    padding: 8px 27px;
    width: 100%;
}
button#close-modal-btn:active,.close-button .close-icon:active,button#close-modal-btn:hover,
.close-button .close-icon:hover {
    background-color: var(--primary-background-light-color);
    stroke: var(--orange-background);
    border-radius: 50%;
}

@media screen and (max-width: 429px) {
.thank-you-chocolate {
        position: absolute;
            bottom: 0px;
            left: 0px;
    }
        .big-chocolate {
            display: none;
        }
                .small-chocolate {
                    display: block;
                }
}

@media screen and (min-width: 429px) and (max-width: 768px) {
    .thank-you-chocolate {
         position: absolute;
    bottom: 0px;
    left: 0px;
        }
    .big-chocolate {
    display: none;
    }
        .small-chocolate {
            display: block;
        }
}




 @media screen and (max-width: 767px)
 {
 .backdrop {
     overflow-y: scroll;
 }
 .modal-buy-now {
     max-width: 409px;
     margin-left: auto;
     margin-right: auto;
 }
 .modal-buy-now-list-of-products {
     display: none;
 }



}
.swiper-slide.ul-top-seller.swiper-slide-active {
    max-width: 409px;
    margin-bottom: 25px;
}
@media screen and (min-width: 768px) and (max-width: 1199px) 
{
.modal-buy-now {
    position: absolute;
    top: 50%;
    left: 50%;
    max-width: 609px;
    transform: translate(-50%, -50%) scale(1);
    max-height: 609px;
    overflow: auto;
    /*margin-top: 60px;
    margin-bottom: 60px;*/
}
.backdrop {
    overflow-y: scroll;
}
 .personal-info-inputs {
     display: flex;
     column-gap: 21px;
 }

.modal-thank-you {
    max-width: 516px;
    max-height: 414px;
    padding: 26px 26px;
}

.thank-you-chocolate {
    position: absolute;
    bottom: 0px;
    left: 0px;
    max-width: 300px;
}

.thank-you-block {
    position: relative;
    float: right;
    margin: 92px 10px 0 0;
}
 #modal-thankyou p {
    width: 309px;
 }

 .small-chocolate {
     display: none;
 }

 .swiper-top-seller {
     display: none;
 }
}
@media screen and (min-width: 1200px) {
    .modal-buy-now {
        position: absolute;
        top: 50%;
        left: 50%;
        max-width: 609px;
        transform: translate(-50%, -50%) scale(1);
       /* margin-top: 60px;
        margin-bottom: 60px;*/
        max-height: 609px;
            overflow: auto;
    }
    
        .personal-info-inputs {
            display: flex;
            column-gap: 21px;
        }
.modal-thank-you {
    max-width: 516px;
    max-height: 414px;
}

.thank-you-chocolate {
    position: absolute;
    bottom: 0px;
    left: 0px;
    max-width: 300px;
}

.thank-you-block {
margin: 92px 10px 0 0px;
    position: relative;
    float: right;
}

.small-chocolate {
    display: none;
}
.modal-thank-you img {
    border-bottom-left-radius: 15px;
}
#modal-thankyou p {
    height: 70px;
    width: 309px;

}

 .top-seller-title {
     margin: 0 0 50px 0px;
 }

 .top-seller-info.mobile,
 .mobile-bottom {
     display: none;
 }

 .top-seller-item:last-child {
     display: block;
 }

 .top-seller-button-info {
     display: flex;
     justify-content: space-between;
     margin-top: 30px;

 }

 .top-seller-info {
     max-width: 407px;
     max-height: 72px;
 }

 .top-seller-item img {
     margin-bottom: 0px;

 }

 .top-seller-button {
     width: 162px;
     height: 50px;
 }

 .top-seller-item {
     flex-basis: calc((100% - 16px)/3);
     max-width: 368px;
 }

 .swiper-top-seller {
     display: none;
 }
}

.wrapper-top-seller {
    gap: 0;
    margin-bottom: 14px;
}

.swiper-scrollbar-top-seller {
    display: none;
}

.swiper-slide-for-taras {
    display: flex;
    justify-content: center;
    max-width: 100%;
}


.modal-topsell {
    position: fixed;
    z-index: 999;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
    display: none;
    transition: opacity 0.3s ease-in-out;
    /* додаємо transition */
}
.buy-now-form-field.errormodule {
    color: red;
    
}