.modal-overlay {
  overflow-y: scroll;
  opacity: 0;
  visibility: hidden;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 20;
  transition: opacity var(--transition), visibility var(--transition);
}

.modal-order-box-btn:active .backdrop {
  opacity: 0;
}

.modal-subscribe {
  opacity: 0;
  visibility: hidden;
  width: 311px;
  max-height: 350px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 30;
  border-radius: 3px;
  transition: 0.3s all;
    background: var(--primary-background-light-color);;
      border-radius: 15px;
}



.modal-subscribe-background{
  height: 169px;
background-image: url(/img/mobile-modal-subscribe-background.jpg);
  background-size: contain;
  background-repeat: no-repeat;
  color: var(--primary-text-light-color);
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

.modal-subscribe-content {
  padding: 32px 24px;
}

.title-modal-subscribe{
  text-align: start;
  margin-bottom: 24px;
}

@media (min-device-pixel-ratio: 2),
(min-resolution: 192px),
(min-resolution: 2dppx) {
  .modal-subscribe-background {
    background-image: url(/img/mobile-modal-subscribe-background@2.jpg);
    ;
  }
}

.subscribe-form-field{
position: relative;
border: 1.5px solid rgba(17, 17, 17, 0.05);
  filter: drop-shadow(0px 5.44492px 5.44492px rgba(0, 0, 0, 0.03));
  border-radius: 25px;
  border-right: 25px;
}

.modal-input-subscribe{
padding-top: 14px;
padding-bottom: 14px;
padding-left: 18px;
padding-right: 18px;
height: 45px;
max-width: 163px;

border: none;
background-color: transparent;
}

.modal-input-subscribe:invalid {
  color: rgba(0, 0, 0, 0.5);
}
.modal-input-subscribe:valid {
  color: var(--orange-background);
}

.submit-subscribe{
  position: absolute;
  top: 0;
  right: 0;
 padding: 14px 22px; 
}

.modal-input-subscribe:active,
.modal-input-subscribe:hover,
.modal-input-subscribe:focus {
  outline: 0;
  outline-offset: 0;
}

/*@media screen and (max-height: 500px) {
  .modal {
    top: 0;
    left: 50%;
    transform: translate(-50%, 0);
    overflow: hidden auto;
  }
}*/

.modal.active,
.modal-overlay.active {
  opacity: 1;
  visibility: visible;
}


.modal-order-box-btn {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 8px;
  right: 5px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: transparent;
  border: none;
  transition: background-color var(--transition), border var(--transition);
  cursor: pointer;
  stroke: white;
}

.modal-order-box-btn:hover,
.modal-order-box-btn:focus {
  background-color: var(--primary-text-light-color);
  stroke: var(--orange-background);
    border-radius: 50%;
    
}

@media screen and (min-width:768px) {
  .modal-subscribe {
  width: 538px;
    max-height: 412px;
    }
  
  .modal-subscribe-background {
    height: 196px;
    background-image: url(/img/tablet-modal-subscribe-background.jpg);
  }

  @media (min-device-pixel-ratio: 2),
  (min-resolution: 192px),
  (min-resolution: 2dppx) {
    .modal-subscribe-background {
      background-image: url(/img/tablet-modal-subscribe-background@2.jpg);
    }
  }

    .modal-subscribe-content {
      padding: 40px;
    }

  .subscribe-form-field {
  position: relative;
  border: none;
  filter: drop-shadow(0px 5.44492px 5.44492px rgba(0, 0, 0, 0.03));
  }

  .modal-input-subscribe {
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 24px;
  padding-right: 24px;
  height: 45px;
  min-width: 313px; 
  border: 1.5px solid rgba(17, 17, 17, 0.05);
  filter: drop-shadow(0px 5.44492px 5.44492px rgba(0, 0, 0, 0.03));
  border-radius: 25px;
  border-right: 25px;

  font-size: 18px;
    line-height: calc(22/18);
  }
  
    .submit-subscribe {
      padding: 16px 42px;
      font-size: 14px;
        line-height: calc(17 / 14)
    }


  

.title-modal-subscribe {
  max-width: 298px;
  margin-bottom: 28px;
}


.modal-order-box-btn {
  top: 12px;
  right: 9px;
  width: 44px;
  height: 44px;
}
}